@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: HelveticaNeueRegular;
	src:url("../fonts/helveticaneue/helveticaneue_regular.eot");
	src:url("../fonts/helveticaneue/helveticaneue_regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneue/helveticaneue_regular.woff") format("woff"),
		url("../fonts/helveticaneue/helveticaneue_regular.ttf") format("truetype"),
		url("../fonts/helveticaneue/helveticaneue_regular.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: HelveticaNeueLTStdBD;
	src:url("../fonts/helveticaneue/helveticaneueltstd_bd.eot");
	src:url("../fonts/helveticaneue/helveticaneueltstd_bd.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneue/helveticaneueltstd_bd.woff") format("woff"),
		url("../fonts/helveticaneue/helveticaneueltstd_bd.ttf") format("truetype"),
		url("../fonts/helveticaneue/helveticaneueltstd_bd.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: HelveticaNeueLTStdRoman;
	src:url("../fonts/helveticaneue/helveticaneueltstd_roman.eot");
	src:url("../fonts/helveticaneue/helveticaneueltstd_roman.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneue/helveticaneueltstd_roman.woff") format("woff"),
		url("../fonts/helveticaneue/helveticaneueltstd_roman.ttf") format("truetype"),
		url("../fonts/helveticaneue/helveticaneueltstd_roman.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}

.exp-nav-container{
	font-family:HelveticaNeueRegular, Arial, sans-serif;
	background-color:#FFF;
	float:left;
	clear:both;
	width:100%;
	height:auto;
	border-top:4px solid #00a94b;
	position:relative;
	z-index:999;
	top:0;
}

.exp-nav{
	width:96%;
	padding:0 2%;
	max-width:1128px;
	margin:0 auto;
	height:100%;
}

.exp-menu-button{
	background:#FFF url(../img/exp_menu_button.png) left top no-repeat;
	width:30px;
	height:30px;
	margin:0 0 -30px -30px;
	float:right;
	clear:both;
	position:relative;
	right:15px;
	top:20px;
	display:none;
}

.exp-menu-button:hover{
	cursor:pointer;
}

.exp-logo{
	background:transparent url(../img/exp-logo.png) left top no-repeat;
	float:left;
	clear:left;
	display:block;
	text-transform:uppercase;
	text-indent:-9999px;
	width:11%;
	max-width:123px;
	height:36px;
	margin:15px 0 0 0;
	padding:0 5.7% 16px 0;
}

ul.exp-menu{
	list-style:none !important;
	float:left;
	clear:right;
	width:100%;
	height:41px;
	margin:15px 0 !important;
	padding:0 !important;
}

.exp-float{
	float:right;
}

ul.exp-menu li{
	float:left;
	height:41px;
	margin:0 0 0 13px;
	background-color:#FFF;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

ul.exp-menu li:first-child{
	float:left;
	margin:0;
}

ul.exp-menu li:hover{
	background-color:#D1EAFF;
	cursor:pointer;
}

ul.exp-menu li span.exp-icon{
	background:transparent url(../img/exp_header_nav_bg.png) center 1px no-repeat;
	width:11px;
	height:8px;
	float:left;
	margin:2px 0 0 2px;
}

ul.exp-menu li:hover span.exp-icon,
ul.exp-menu li:focus span.exp-icon,
ul.exp-menu li:active span.exp-icon{
	background:transparent url(../img/exp_header_nav_bg_hov.png) center 1px no-repeat;
}

ul.exp-menu li a,
ul.exp-menu li a:link,
ul.exp-menu li a:visited{
	font-family:HelveticaNeueRegular, Arial, sans-serif;
	display:block;
	color:#0065B8;
	font-size:15px;
	height:17px;
	line-height:17px;
	text-decoration:none;
	padding:12px 18px 12px 18px;
}

ul.exp-menu li a:hover{
	cursor:pointer;
}

ul.exp-menu li a p{
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	font-size:inherit;
	line-height:inherit;
	color:inherit;
	margin:0 !important;
}

ol.exp-drop-menu{
	list-style:none !important;
	float:left;
	clear:both;
	width:167px;
	margin:0 -167px -100% 0 !important;
	padding:0 !important;
	position:relative;
	z-index:999;
	background-color:#FFF;
	display:none;
}

ol.exp-drop-menu li{
	float:left;
	clear:both;
	width:100%;
	background-color:#00335D;
	border:1px solid #00335D;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	margin:0;
}

ol.exp-drop-menu li:hover{
	border:1px solid #0087F5;
	background-color:#0087F5;
}

ol.exp-drop-menu li:first-child{
	border-radius:0px 3px 0px 0px;
	-moz-border-radius:0px 3px 0px 0px;
	-webkit-border-radius:0px 3px 0px 0px;
}

ol.exp-drop-menu li.last,
ol.exp-drop-menu li:last-child{
	border-radius:0px 0px 3px 3px;
	-moz-border-radius:0px 0px 3px 3px;
	-webkit-border-radius:0px 0px 3px 3px;
}

ol.exp-drop-menu li a:link,
ol.exp-drop-menu li a:visited{
	background-color:transparent;
	color:#A6D2F4;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

ol.exp-drop-menu li a:hover,
ol.exp-drop-menu li a:focus,
ol.exp-drop-menu li a:active{
	color:#FFF;
}

ol.exp-right{
	float:right;
	margin:0 -0 -100% -166px !important;
	right:2px;
}

ol.exp-right li:first-child{
	border-radius:3px 0px 0px 0px;
	-moz-border-radius:3px 0px 0px 0px;
	-webkit-border-radius:3px 0px 0px 0px;
}

ul.exp-menu li a.exp-active,
ul.exp-menu li a.exp-active:link,
ul.exp-menu li a.exp-active:visited,
u.exp-menu li a.exp-active:hover{
	background-color:#00335D;
	color:#FFF;
	border-radius:2px 2px 0px 0px;
	-moz-border-radius:2px 2px 0px 0px;
	-webkit-border-radius:2px 2px 0px 0px;
}

ul.exp-menu li a.exp-active span.exp-icon{
	background:transparent url(../img/exp_header_nav_bg_click.png) center 1px no-repeat;
}

@media only screen and (max-width: 783px) {
.exp-nav{
	width:100%;
	padding:0;
}

.exp-menu-button{
	display:block;
}

.exp-logo{
	width:123px;
	max-width:none;
	height:36px;
	margin:15px 0 0 24px;
	padding:0 15px 16px 0;
}

ul.exp-menu{
	width:100%;
	clear:both;
	height:auto;
	margin:0 -100% 0 0 !important;
	border-top:1px solid #C7C7C7;
	position:relative;
	left:0;
	top:1px;
	display:none;
}

.exp-float{
	float:none;
}

ul.exp-menu li{
	float:left;
	clear:both;
	width:100%;
	height:auto;
	min-height:53px;
	border-bottom:1px solid #C7C7C7;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	margin:0;
}

ul.exp-menu li a, 
ul.exp-menu li a:link, 
ul.exp-menu li a:visited{
	height:53px;
	line-height:53px;
	padding:0 0 0 18px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

ul.exp-menu li span.exp-icon{
	margin:21px 0 0 2px;
}

ol.exp-drop-menu{
	width:100%;
	border-top:1px solid #58738a;
	margin:0 !important;
}

ol.exp-drop-menu li,
ol.exp-drop-menu li:first-child{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-bottom:1px solid #58738a;
}

ol.exp-drop-menu li.last,
ol.exp-drop-menu li:last-child{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-bottom:none;
}

ol.exp-drop-menu li a:link,
ol.exp-drop-menu li a:visited{
	padding:0 0 0 40px;
}

ul.exp-menu li a.exp-active, 
ul.exp-menu li a.exp-active:link, 
ul.exp-menu li a.exp-active:visited, 
u.exp-menu li a.exp-active:hover{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

}


